@model MovieTheater.Actors

@{
    ViewBag.Title = "ActorDetails";
}

<h2>ActorDetails</h2>

<div>
    <h4>Actors</h4>
    <hr />

    <div style="display:flex;">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ActorID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActorID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>

            </dl>
        </div>

        <div style="margin-left:200px;">
            @if (Model.ActorIMG != null)
            {
                <img src="@Url.Action("GetActorIMG", "Admin", new { id = Model.ActorID })" alt="Movie Image" />

            }
            else
            {
                <h2>Image Is Not Avaliable </h2>
            }
        </div>

    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "EditActor", new { id = Model.ActorID }) |
    @Html.ActionLink("Back to List", "ListActors")
</p>
