@model IEnumerable<MovieTheater.Actors>

@{
    ViewBag.Title = "ListActors";
}



<div class="card">
    <div class="card-header">
        <h3>Actors</h3>
    </div>
    <div>
        <input style="margin:8px 5px 8px 5px;" type="button" class="btn btn-primary" value="Back to Admin Tools" onclick="location.href='@Url.Action("AdminButtons", "Admin")'" />
        <input style="margin:8px 5px 8px 5px;" type="button" class="btn btn-primary" value="Add Actor" onclick="location.href='@Url.Action("AddActor", "Admin")'" />
       
    </div>
    
    <div class="d-flex justify-content-around card text-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ActorID)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.ActorID)</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>

                            @Html.ActionLink("Edit Actor", "EditActor", new { id = item.ActorID }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("Actor Details", "ActorDetails", new { id = item.ActorID }, new { @class = "btn btn-info btn-sm" })
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDelete_@item.ActorID">
                                Delete
                            </button>


                            <div class="modal fade" id="confirmDelete_@item.ActorID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel" >
                                                
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"  >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#ff0000" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" fill="#dc3545" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" fill="#dc3545" />
                                            </svg>
                                            <h4 style="margin:25px auto 15px auto;">
                                                Are You Sure?
                                            </h4>
                                            <p style="width: 300px; text-align: center; margin: auto; color: #888888; " >Do you really want to delete this record? This process cannot be undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <div style="display: flex; margin: 0px auto 0px auto;">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-right:10px;">Cancel</button>
                                                @using (Html.BeginForm("DeleteActor", "Admin", new { id = item.ActorID } ,  FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    @Html.Hidden("id", item.ActorID)

                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                }

                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
