@model MovieView

@{
    ViewBag.Title = "EditMovie";
}



@using (Html.BeginForm("EditMovie", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <h3 class="card-header">
            Edit Movie
        </h3>
        <div class="card-body">
            <div class="d-flex justify-content-around" style="margin-bottom:20px;">
                <div class="d-grid gap-2" style="width:400px;">

                    <div hidden>
                        @Html.EditorFor(model => model.movie.MovieID, new { htmlAttributes = new { @class = "form-control mw-100" } })
                        @Html.LabelFor(model => model.movie.MovieID, htmlAttributes: new { @class = "" })

                        @Html.ValidationMessageFor(model => model.movie.MovieID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-floating">
                        @Html.EditorFor(model => model.movie.Name, new { htmlAttributes = new { @class = "form-control mw-100" } })
                        @Html.LabelFor(model => model.movie.Name, htmlAttributes: new { @class = "" })

                        @Html.ValidationMessageFor(model => model.movie.Name, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.LabelFor(model => model.movie.Date, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.AgeRating, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.movie.AgeRating, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.AgeRating, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.RunTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.movie.RunTime, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.RunTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.Category, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.movie.Category, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-floating">
                        @Html.EditorFor(model => model.movie.Description, new { htmlAttributes = new { @class = "form-control mw-100" } })
                        @Html.LabelFor(model => model.movie.Description, htmlAttributes: new { @class = "" })

                        @Html.ValidationMessageFor(model => model.movie.Description, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.Language, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.LabelFor(model => model.movie.Language, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.Language, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                @Html.EditorFor(model => model.movie.DirectorID, new { htmlAttributes = new { @class = "form-control mw-100" } })
                                @Html.LabelFor(model => model.movie.DirectorID, htmlAttributes: new { @class = "" })

                                @Html.ValidationMessageFor(model => model.movie.DirectorID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3" style="margin-top:20px;">
                        <input type="file" class="form-control mw-100" name="ImageFile" id="ImageFile" multiple>
                        @Html.LabelFor(model => model.images, "")
                    </div>

                    <div style="width:450px;" class="btn-group" role="group" aria-label="Basic mixed styles example">
                        @Html.ActionLink("Back to List", "ListMovies", null, new { @class = "btn btn-outline-secondary" })
                        <input type="submit" value="Save" class="btn btn-outline-success" />

                    </div>

                </div>


                <div>
                    test
                </div>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListMovies")
</div>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.13.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm-dd-yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}