@model IEnumerable<MovieTheater.Movies>

@{
    ViewBag.Title = "ListMovies";
}


<div class="card">
    <div class="card-header">
        <h3>
            Movies
        </h3>
    </div>
    <div>
        <input style="margin:8px 5px 8px 5px;" type="button" class="btn btn-primary" value="Back to Admin Tools" onclick="location.href='@Url.Action("AdminButtons", "Admin")'" />
        <input style="margin:8px 5px 8px 5px;" type="button" class="btn btn-primary" value="Add Movie" onclick="location.href='@Url.Action("AddMovie", "Admin")'" />
    </div>
    <div class="d-flex justify-content-around card text-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MovieID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgeRating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RunTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DirectorID)
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tobdy>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.MovieID)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgeRating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RunTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DirectorID)
                        </td>
                        <td>
                            @Html.ActionLink("Movie Details", "EditMovie", new { id = item.MovieID }, new { @class = "btn btn-secondary btn-sm" })
                            @Html.ActionLink("User View", "MovieDetails", new { id = item.MovieID }, new { @class = "btn btn-info btn-sm" })
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDelete_@item.MovieID">
                                Delete
                            </button>


                            <div class="modal fade" id="confirmDelete_@item.MovieID" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#ff0000" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" fill="#dc3545" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" fill="#dc3545" />
                                            </svg>
                                            <h4 style="margin:25px auto 15px auto;">
                                                Are You Sure?
                                            </h4>
                                            <p style="width: 300px; text-align: center; margin: auto; color: #888888; ">Do you really want to delete this record? This process cannot be undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <div style="display: flex; margin: 0px auto 0px auto;">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin-right:10px;">Cancel</button>
                                                @using (Html.BeginForm("DeleteMovie", "Admin", new { id = @item.MovieID }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    @Html.Hidden("id", @item.MovieID)

                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>

                }
            </tobdy>
            

        </table>

    </div>

</div>


