@model MovieTheater.Director

@{
    ViewBag.Title = "AddDirector";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <h3 class="card-header">
            Add Director
        </h3>
        <div class="card-body">

            <div class="d-flex justify-content-around" style="margin-bottom:20px;">

                <div class="d-grid gap-3">

                    <div class="form-floating">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control mw-100" } })
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })

                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-floating">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control mw-100" } })

                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>


                    <div class="input-group mb-3" style="margin-top:20px;">
                        <input type="file" class="form-control mw-100" name="ImageFile" id="ImageFile">
                        @Html.LabelFor(model => model.ImageFile, "")
                    </div>

                    <div style="width:450px;margin-top:35px;" class="btn-group" role="group" aria-label="Basic mixed styles example">
                        @Html.ActionLink("Back to List", "ListDirectors", null, new { @class = "btn btn-outline-secondary" })
                        <input type="submit" value="Save" class="btn btn-outline-success" />

                    </div>

                </div>

                <div>
                    <img src="~/Images/AddDirector.png" height="300" width="300" />
                </div>

            </div>


        </div>

    </div>

}
