@model MovieTheater.Director

@{
    ViewBag.Title = "DirectorDetails";
}

<h2>DirectorDetails</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDirector", new { id = Model.DirectorID }) |
    @Html.ActionLink("Back to List", "ListDirectors")
</p>
